DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=*

DB_HOST=localhost
DB_PORT=5432
DB_NAME=ichs
DB_USER=postgres
DB_PASSWORD=postgres

OPENWEATHER_API_KEY=7ba3cb461a65e95642be3d1d3eff7fe5
